<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">
    <contextName>myboot</contextName>
    <property name="log.path" value="logback.log" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.hzm.boot.logback.LogBackExEncoder">
            <pattern>%date-%ip-:%X{sessionId} %contextName [%thread][%T] %-5level %logger{36}.%method-%line - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <remoteHost>127.0.0.1</remoteHost>
        <port>5000</port>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    <!--
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n
            </pattern>
        </encoder>
    </appender>-->

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="logstash" />
        <!--
        <appender-ref ref="file" />-->
    </root>

    <logger name="org.springframework" additivity="true" level="info" />
    <logger name="org.apache.mybatis" additivity="true" level="debug"/>
    <logger name="java.sql" additivity="true" level="debug"/>
</configuration>